{% extends 'home/free_layout.html' %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="login-form-wrapper" >
    <div class="form">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div>
        <div>{{ form.username.label_tag }}</div>
        <div>{{ form.username }}</div>
      </div>
      <div>
        <div>{{ form.password.label_tag }}</div>
        <div>{{ form.password }}</div>
      </div>
    <input type="submit" value="login" class="mt16 btn btn-primary margin-auto btn-login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
  </div>
{% endblock %}