body{
	background-color: #ebeff5;
}


#total-collectors{
	background-color: #4cb4c7;
}


#total-collections{
	background-color: #7abecc;
}

.login-form-wrapper{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
}

.form{
	position: absolute;
	width: 350px;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 16px;
}

.currency-form{
	position: absolute;
	width: 500px;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 16px;
}

.w100{
	width: 100%;
}

.mt16{
	margin-top: 16px !important;
}

.margin-auto{
	margin: auto;
}

.btn-login{
	display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}