{% extends 'home/free_layout.html' %}
{% block content %}

<div class="currency-form">
<div class="mb-3">
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="mt16 btn btn-primary left" />
    <input type="reset" id="CancelButton" value="Cancel" class="mt16 btn btn-danger right"/>

    <script type="text/javascript">
    document.getElementById("CancelButton").onclick = function () {
        location.href = "{% url 'home' %}";
    };
    </script>
</form>
</div>
</div>
{% endblock %}