{% extends 'home/free_layout.html' %}
{% block content %}

<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>All currencies</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Release date</th>
                        <th>Country</th>
                        <th>Denomination</th>
                        <th>Quality</th>
                        <th>Series</th>
                        <th>Photo</th>
                        <th>Created at</th>
                    </tr>
                    {% for currency in currencies %}
                        <tr>
                            <td>{{currency.item_type}}</td>
                            <td>{{currency.name}}</td>
                            <td>{{currency.code}}</td>
                            <td>{{currency.release_date|date:"Y"}}</td>
                            <td>{{currency.country}}</td>
                            <td>{{currency.denomination}}</td>
                            <td>{{currency.quality}}</td>
                            <td>{{currency.series}}</td>
                            <td>{{currency.photo}}</td>
                            <td>{{currency.date_created}}</td>
                            <td><a href="">Update</a></td>
                            <td><a href="">Remove</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<a class="btn btn-primary" href="/create_currency">Create currency</a>

{% endblock %}