{% extends 'home/free_layout.html' %}
{% load currency_extras %}
{% block content %}

<br>
    <p style="text-align: right">Logged as {{ user.get_username }}</p>
    <div class="row">
        <div class="col-md"> 
            <div class="card card-body">
                <h5>All currencies</h5> 
            </div>
            <div class="card card-body">
                <table id="all_currencies" class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Code</th>
                            <th>Release date</th>
                            <th>Country</th>
                            <th>Denomination</th>
                            <th>Quality</th>
                            <th>Series</th>
                            <th class="no-sort">Photo</th>
                            <th>Created at</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currency in currencies %}
                            <tr>
                                <td>{{currency.user}}</td>
                                <td>{{currency.item_type}}</td>
                                <td>{{currency.name}}</td>
                                <td>{{currency.category}}</td>
                                <td>{{currency.code}}</td>
                                <td>{{currency.release_date|date:"Y"}}</td>
                                <td>{{currency.country.name}}</td>
                                <td>{{currency.denomination}}</td>
                                <td>{{currency.quality}}</td>
                                <td>{{currency.series}}</td>
                                <td><img src="{{currency.thumbnail.url}}"></td>
                                <td>{{currency.date_created}}</td>
                                <td>
                                {% if user.is_authenticated %}    
                                    {% if user|is_group:"Creators" %}   
                                        {% if user.id == currency.user.id %}
                                            <a class="btn btn-sm btn-info right" href="{% url 'update_currency' currency.id %}">Update</a>
                                            <a class="btn btn-sm btn-danger right" href="{% url 'delete_currency' currency.id %}">Delete</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% if user|is_group:"Creators" %}
    <a class="btn btn-primary" href="/create_currency">Create currency</a>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
    $('#all_currencies').DataTable({
            "columnDefs": [ {
              "targets": 'no-sort',
              "orderable": false,
        } ]
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>

{% endblock %}