{% extends 'home/free_layout.html' %}
{% block content %}

<div class="currency-form">
<div class="mb-3">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Add" class="mt16 btn btn-primary left" />
    <input type="reset" id="CancelButton" value="Cancel" class="mt16 btn btn-danger right"/>

    <script type="text/javascript">
    document.getElementById("CancelButton").onclick = function () {
        location.href = "/currencies";
    };
</script>
</form>
</div>
</div>
{% endblock %}